<a href="https://colab.research.google.com/github/neethusunil/spam-email-detection/blob/main/spam_email_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [24]:
df = pd.read_csv("/content/spam email dataset.csv")
df

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5731  Subject: re : research and development charges...    0
5732  Subject: re : receipts from visit  jim ,  than...    0
5733  Subject: re : enron case study update  wow ! a...    0
5734  Subject: re : interest  david ,  please , call...    0
5735  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5736 rows x 2 columns]

In [25]:
#check if there are any null values
df.isnull().sum()

text    6
spam    8
dtype: int64

In [26]:
#drop the null values
df=df.dropna()

In [27]:
#Check for null values after dropping
df.isnull().sum()

text    0
spam    0
dtype: int64

In [28]:
#save text and spam values to different variables
x = df.text
y = df.spam

In [29]:
#data split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.20)

In [30]:
#Countvectorizer is a method to convert text to numerical data

cv = CountVectorizer()
x_train = cv.fit_transform(xtrain)
x_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [31]:
#Model
#Naive Bayes Algorithm
model = MultinomialNB()
model.fit(x_train,ytrain)

MultinomialNB()

In [32]:
x_test =cv.transform(xtest)
x_test.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [5, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [33]:
model.score(x_test,ytest)

0.9904013961605584

In [43]:
emails=['hey i am lokking for machine learning tutorial in bengali language','hey you win an iphone x giveway for free please do the survey']

In [44]:
cv_emails=cv.transform(emails)

In [45]:
model.predict(cv_emails)

array(['0', '1'], dtype='<U92')